{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img class="img-responsive" src="{% static 'img/1920x1080/01.jpg' %}" alt="Slider Image">
        <div class="container">
            <div class="carousel-centered">
                <div class="margin-b-40">
                    <h1 class="carousel-title">새로운 전염병 방역의 기준</h1>
                    <h3>Multi Symptoms based Screening System</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <img class="img-responsive" src="{% static 'img/1920x1080/02.jpg' %}" alt="Slider Image">
        <div class="container">
            <div class="carousel-centered">
                <div class="margin-b-40">
                    <h2 class="carousel-title">Hi-Tech Design</h2>
                    <p>Lorem ipsum dolor amet consectetur adipiscing dolore magna aliqua <br/> enim minim estudiat veniam siad venumus dolore</p>
                </div>
                <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Explore</a>
            </div>
        </div>
    </div>
</div>
</div>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- Features -->
<!--<div class="section-seperator">
    <div class="content-lg container">
        <div class="row">
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h3>기사 넣고</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
                    <a class="link" href="#">Read More</a>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <h3>기사 넣고</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
                    <a class="link" href="#">Read More</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <h3>추가하고</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempor incididunt ut laboret dolore magna ut consequat siad esqudiat dolor</p>
                    <a class="link" href="#">Read More</a>
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Features -->

<!-- About -->
<div class="content-lg container">
    <div class="row margin-b-20">
            <h1>Innovation in the prevention of Epidemics</h1>
    </div>
    <!--// end row -->

    <div class="row">
        <div class="col-sm-7 sm-margin-b-50">
            <div class="margin-b-30">
                <p>INU는 전 세계인이 감염병으로부터 안전한 세상을 만들기 위해 끊임없이 노력하고 있습니다.</p>
                <p>INU는 값싸고 효율적인 Screening System으로 백신의 손길이 닿지 않는 전세계의 의료 사각지대까지 전염병으로부터 지키고자 노력합니다.</p>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <img class="img-responsive" src="{% static 'img/bluemap.png' %}" alt="Our Office">
        </div>
    </div>
    <!--// end row -->
</div>
<!-- End About -->

<!-- Service -->
<div class="bg-color-sky-light" data-auto-height="true">
    <div class="content-lg container">
        <div class="row row-space-1 margin-b-2">
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-chemistry"></i>
                        </div>
                        <div class="service-info">
                            <h3>Multi-Symptoms</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
            <div class="col-sm-4 sm-margin-b-2">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-screen-tablet"></i>
                        </div>
                        <div class="service-info">
                            <h3>Data Resorce</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                    <div class="service" data-height="height">
                        <div class="service-element">
                            <i class="service-icon icon-badge"></i>
                        </div>
                        <div class="service-info">
                            <h3>ML/DL Model</h3>
                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                        </div>
                        <a href="#" class="content-wrapper-link"></a>    
                    </div>
                </div>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Service -->
<!--========== END PAGE LAYOUT ==========-->

{% endblock %}