{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--========== PARALLAX ==========-->
<img class="img-responsive" src="{% static 'img/1920x1080/03.jpg' %}" alt="Slider Image">
<div class="container">
    <div class="carousel-centered">
        <div class="margin-b-40">
            <h1 class="carousel-title">contact</h1>
            <h3>INU Multi Symptoms based Screening System</h3>
        </div>
    </div>
</div>
<!--========== PARALLAX ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- Contact List -->
<div class="section-seperator">
    <div class="content-lg container">
        <div class="row">
            <!-- Contact List -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h3><a href="#">강동희</a> <span class="text-uppercase margin-l-20">Deverloper</span></h3>
                    <p>2019 신평고등학교 졸업</p><p>2020~ 동국대학교 컴퓨터공학과 2학년 재학</p>
                    <ul class="list-unstyled contact-list">
                        <li><i class="margin-r-10 color-base icon-call-out"></i>010-xxxx-xxxx</li>
                        <li><i class="margin-r-10 color-base icon-envelope"></i>dhk010111@gmail.com</li>
                        <li><i></i>https://github.com/dhk010111</li>
                    </ul>
                </div>
            </div>
            <!-- End Contact List -->

            <!-- Contact List -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                    <h3><a href="#">명재효</a> <span class="text-uppercase margin-l-20">Developer</span></h3>
                    <p>2019 신평고등학교 졸업</p><p>2020~ 가톨릭대학교 의과대학 본과 1학년 재학</p>
                    <ul class="list-unstyled contact-list">
                        <li><i class="margin-r-10 color-base icon-call-out"></i>010-xxxx-xxxx</li>
                        <li><i class="margin-r-10 color-base icon-envelope"></i>newthink23@naver.com</li>
                        <li><i></i>https://github.com/newthink23</li>
                    </ul>
                </div>
            </div>
            <!-- End Contact List -->
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End Contact List -->
<!--========== END PAGE LAYOUT ==========-->
{% endblock %}