{% load static %}
<!--========== FOOTER ==========-->
<footer class="footer">
    <!-- Links -->
    <div class="footer-seperator">
        <div class="content-lg container">
            <div class="row">
                <div class="col-sm-2 sm-margin-b-50">
                    <!-- List -->
                    <ul class="list-unstyled footer-list">
                        <li class="footer-list-item"><a class="footer-list-link" href="{% url 'main' %}">Home</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="{% url 'about' %}">About INU</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="{% url 'test' %}">Diagnosis Test</a></li>
                        <li class="footer-list-item"><a class="footer-list-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                    <!-- End List -->
                </div>
            </div>
            <!--// end row -->
        </div>
    </div>
    <!-- End Links -->

    <!-- Copyright -->
    <div class="content container">
        <div class="row">
            <div class="col-xs-6">
                <img class="footer-logo" src="{% static 'img/inu.png' %}" alt="Asentus Logo">
            </div>
            <div class="col-xs-6 text-right">
                <p class="margin-b-0"><a class="color-base fweight-700">Office 서울특별시 서초구 서초동 1451-34 평화빌딩</a> <br><a class="color-base fweight-700" href="https://www.cmcseoul.or.kr/page/main">Support 겨자씨 키움센터</a></p>
            </div>
        </div>
        <!--// end row -->
    </div>
    <!-- End Copyright -->
</footer>
<!--========== END FOOTER ==========-->