{% load static %}
<!--========== HEADER ==========-->
<header class="header navbar-fixed-top">
    <!-- Navbar -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <!-- Logo -->
                <div class="logo">
                    <a class="logo-wrap" href="{% url 'main' %}">
                        <img class="logo-img logo-img-main" src="{% static 'img/inu.png' %}" alt="INU Logo">
                        <img class="logo-img logo-img-active" src="{% static 'img/inu.png' %}" alt="INU Logo">
                    </a>
                </div>
                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item"><a class="nav-item-child nav-item-hover active" href="{% url 'main' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'about' %}">About INU</a></li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="about.html">Diagnosis Test</a></li>
                        <li class="nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--========== END HEADER ==========-->